<li>
	{{drink_name}}

	<button class="change-drink" data-id="{{id}}" data-newempty="{{imbibed}}">
		{{#if imbibed}}PARTY TIME!{{else}}PARTY'S DONE!{{/if}}
	</button>

	<button class="delete-drink" data-id="{{this.id}}">DELETE!</button>
</li>
